  <section id="mv">
    <div class="container">
      <h1 class="mv-title">Beer Choice</Co></h1>
      <p class="mv-text">投稿して、お気に入りのビールを探そう！</p>
    </div>
  </section>
  <div class="container">
    <div id="about">
      <div class="row">
        <div class="about-box">
          <h2 class="heading">About</h2>
          <div class="about-text">
            <h3 class="heading-text">
              当サイトは、ビール専門の投稿レビューサイトです！
            </h3>
            <p class="content-text">
              &nbsp;&nbsp;&nbsp;①&nbsp;まずは登録して、自分のおすすめのビールを投稿しよう!<br>
              &nbsp;&nbsp;&nbsp;②&nbsp;投稿したら一覧に表示されるよ！みんなのおすすめを見てみよう！<br>
              &nbsp;&nbsp;&nbsp;③&nbsp;気になる投稿があったら、クリックして詳細を見てみよう！<br>
              &nbsp;&nbsp;&nbsp;④&nbsp;気にいった投稿があったらいいねしよう！<br>
              &nbsp;&nbsp;&nbsp;⑤&nbsp;飲んでみたら、投稿にコメントや評価をしよう！
            </p>
            <p class="advertising text-info mb-0 pt-3">
              ⬇︎みんなのおすすめのビールはこちら！⬇︎
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

