<div class="container">
  <div class="row mx-auto pb-5">
    <div class="main-title col-11 mb-0">
      <h2 class="index-title">
        <span class="post">ユーザー投稿一覧</span>
      </h2>
      <% if @beers.present? %>
        <%= render 'beers/index', beers: @beers %>
      <% else %>
      　<h4 class="pl-4">まだ投稿されていません</h3>
      <% end %>
    </div>
    <% if @beers.total_count > 10 %>
      <div class="row user-comment-box ">
        <div class="mx-col-md-9 page-line">
          <div class="page-area">
            <P class="cmment-content"><%= paginate @beers %></P>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>