<div class="container">
  <div class="row mx-auto">
    <div class="col-md-11">
      <div class="details">
        <div class="details_contain">
          <div="details_head">
            <h2 class="headline"></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=""></div>
</div>