/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


/*=====================================
 リセット CSS
=====================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*=====================================
 共通
=====================================*/

main {
  background-color: #FFFCDB;
  min-height: calc(100vh - 7rem);
}

.wrap {
  overflow: hidden;
}

/*=====================================
  pagination
=====================================*/

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  padding: 4px;
  background: #93c9ff;
  border-radius: 15px;
  color: #fff;
}

/*=====================================
 header - footer
=====================================*/

header{
  width: 100%;
  background: linear-gradient(45deg, #d46c4f 0%, #d46c4f 30%, #9e4028 70%, #9e4028 100%);
}

.title {
  font-family: cursive;
  font-weight: bold;
  margin-top: 7px;
  padding-left: 10px;
}

.navbar-nav {
  margin-right: 35px;
}

.nav-item{
  padding: 10px 20px;
  font-size: 100%;
}

footer{
  margin-top: auto;
  background: linear-gradient(45deg, #d46c4f 0%, #d46c4f 30%, #9e4028 70%, #9e4028 100%);
  padding-top: 44px;
  padding-bottom: 25px;
}

/*=====================================
  header / hamburger
=====================================*/

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 69px;
  width: 76px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 45px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

// メニュー内の装飾
.menu-content {
  margin-top: 88px;
  width: 19%;
  height: 75%;
  position: fixed;
  top: 0;
  left: 117%;
  z-index: 80;
  background-color: #1D1625;
  transition: all 0.4s;
  margin-left: 83%;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  list-style: none;
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}
// ここまで

#menu-btn-check:checked ~ .menu-content {
  left: 0;
}

/*=====================================
  top
=====================================*/

#mv {
  background-image: url(beer-mv.jpg);
  background-size: cover;
  background-position: 50% 60%;
  width: 100%;
  height: 670px;
  text-align: right;
}

.mv-title {
  color: #fafafa;
  padding-top: 200px;
  font-size: 64px;
}

.mv-text {
  color: #fafafa;
  padding-top: 10px;
  font-size: 20px;
}

#about {
  margin-top: 90px;
  padding-bottom: 90px;
}

.about-box {
  width: 750px;
  margin-left: 170px;
  background: #fff;
  padding: 20px 20px 0 20px;
  border-radius: 13px;
}

.heading {
  text-align: center;
  margin-right: 50px;
  font-size: 32px;
  color: #000000;
  font-weight: bold;
}

.heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.about-text {
  margin-left: 110px;
}

.heading-text {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 3px;
  color: #5a320a;
  text-align: left;
  font-size: 120%;
  font-weight: bold;
}

.content-text {
  font-size: 16px;
  font-weight: 600;
  font-family: serif;
}

.advertising {
  letter-spacing: 4px;
  margin-left: 38px;
}

#ranking {
  margin-top: 90px;
  padding-bottom: 70px;
  width: 100%;
}

.rank-title-box {
  width: 60%;
  margin-left: 257px;
  padding: 20px 15px 13px 15px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
}

.rank-title {
  font-weight: bold;
  padding-right: 30px;
  font-size: 30px;
}

.rank-area {
  margin-top: 45px;
  margin-right: 75px;
  display: flex;
}

.rank-list-box {
  width: 100%;
  padding: 15px 15px 0 15px;
  background: #fff;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px #666666;
  border: 1px solid #cdc5c5;
}

.rank-head {
  font-size: 130%;
  margin-top: 4px;
}

.favorit-top {
  margin-left: auto;
  padding-right: 10px;
  font-size: 140%;
}

.rank-name {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 0;
}

.top-score-box {
  border-radius: 28px;
  padding: 13px 10px 11px 10px;
  margin-right: 20px;
  margin-left: 5px;
  background: #FFFCDB;
  margin-top: 8px;
}

.top-score {
  line-height: auto;
  margin-left: 20px;
  display: flex;
}

.top-star {
  width: 70%;
}

.top-score img {
  width: 16%;
}

.top-average {
  line-height: 2.1em;
  font-size: 110%;
  font-weight: bold;
  color: #5a320a;
}

.top-count {
  margin-left: 20px;
  font-size: 100%;
  margin-top: 5px;
}

.top-user {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.top-notice {
  margin-left: 55px;
}

/*=====================================
 user / mypage
=====================================*/

.main-title {
  text-align: left;
  margin-bottom: 50px;
}

.page-title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #573929;
}

.box-item {
  font-size: 135%;
  padding-top: 10px;
  margin-top: 40px;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #573929;
}

.user-show {
  margin-top: 40px;
}

.picture {
  border-radius: 50%;
  margin-left: 50px;
}

/*=====================================
 user / index
=====================================*/

.index-page-box {
  margin-left: 170px;
  margin-bottom: 16px;
}

.index-page-area {
  background: #fff;
  padding: 15px 15px 1px;
  border-radius: 23px;
}

.user-index-title {
  text-align: left;
}

.user-index-area {
  width: 80%;
  padding-bottom: 10px;
  margin: 0 auto;
}

.index-list-box {
  padding: 7px;
  background: #fff;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 40px;
  border: 1px solid #cdc5c5;
}

.user-picture {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.index-style-box {
  border-radius: 28px;
  padding: 5px 20px 7px 20px;
  margin-right: 3px;
  margin-left: 3px;
  background: #FFFCDB;
  margin-top: 8px;
}

.index-beer-style {
  font-weight: bold;
  font-size: 80%;
  color: #5a320a;
}

/*=====================================
 user / show
=====================================*/

.info {
  background: #f6f4f2;
  padding: 15px;
  border: 1px solid #cdc5c5;
}

table {
  width: 100%;
  border: 1px solid #cdc5c5;
}

.t-head {
  padding: 10px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
}

.t-body {
  padding: 10px;
  background: white;
  border: 1px solid #cdc5c5;
}

/*=====================================
 beer / new
=====================================*/

.new-img {
  height: 170px;
  width: 180px;
  object-fit: cover;
  margin-top: 10px;
}

.t-head2 {
  padding: 20px 15px 15px 15px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
}

.explanation {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

/*=====================================
 beer / index
=====================================*/

.index-title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 2px solid #573929;
}

.list-item {
  display: flex;
  background: #fff;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 8px;
}

.index-picture {
  border-radius: 55%;
  margin-left: 40px;
}

.index-text-box {
  float: left;
}

.index-text-box-2 {
  float: right;
  position: relative;
  height: 83px;
}

.item-title {
  color: #5a320a;
  font-size: 130%;
  font-weight: bold;
  padding-top: 6px;
}

.index-beer-feature {
  background: #FFFCDB;
  border-radius: 10px;
  padding: 10px;
  margin-top: 3px;
}

.index-point-title {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 1px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 75%;
  color: #5a320a;
}

.index-user-name {
  font-size: 90%;
}

.index-point-text {
  margin-bottom: 0;
  padding-left: 8px;
  font-size: 85%;
}

.index-score-box {
  font-size: 130%;
}

.index-beer-score {
  font-size: 95%;
  font-weight: bolder;
  color: #FF6928;
}

.index-max-score {
  font-size: 70%;
  font-weight: bolder;
}

.index-create {
  position: absolute;
  bottom: 0;
  margin-left: 130px;
  padding: 0;
}

/*=====================================
 beer / show
=====================================*/

.details {
  margin-top: 30px;
  margin-bottom: 40px;
}

.details-box {
  padding: 20px 15px 24px 15px;
  background: #fff;
  border: 1px solid #cdc5c5;
  box-shadow: 0 10px 10px #666666;
}

.headline {
  font-size: 150%;
  font-weight: 800;
}

.favorite-btn {
  margin-left: auto;
  margin-right: 40px;
}

.red-btn {
  font-size: 140%;
  color: red;
}

.not-btn {
  font-size: 140%;

}

ul, li {
  list-style: none;
}

li {
  font-size: 15px;
  margin-right: 20px;
}

.line {
  display: flex;
}

.time {
  margin-left: auto;
}

.content-box {
  display: flex;
}

.image-box {
  width: 50%;
}

.image-picture {
  border-radius: 10px;
  border: 6px solid #fff;
  box-shadow: 0 0 1px;
}

.beer-text {
  margin-top: 10px;
  width: 50%;
  margin-left: 15px;
  margin-right: 10px;
}

.point {
  border: 1px solid #d2c8be;
  border-radius: 4px;
  padding: 10px;
  background: #FFFCDB;
  margin-bottom: 20px;
}

.point-title {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 1px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 80%;
  color: #5a320a;
}

.point-text {
  margin-bottom: 0;
}

.t-head2 {
  padding: 10px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
  width: 35%;
}

.t-body2 {
  padding: 10px;
  background: white;
  border: 1px solid #cdc5c5;
  width: 60%;
}

.text-title {
  font-size: 140%;
  margin-left: 30px;
}

.text-box {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  border: 1px solid #d2c8be;
  background: #FFFCDB;
}

.comment-box {
  width: 100%;
  margin-left: 90px;
}

.comment-set {
  background: #fff;
  padding: 0 0 15px;
  border: 1px solid #cdc5c5;
}

.comment-title {
  width: 100%;
  color: #5a320a;
  font-size: 130%;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-top: 3px solid #5a320a;
  border-bottom: 1px solid #d2c8be;
}

.commment-back {
  padding: 20px 15px 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
  background: #FFFCDB;
  border-radius: 12px;
}

.user-comment-box {
  width: 100%;
  margin-left: 90px;
}

.user-comment-set {
  background: #fff;
  padding: 0;
  border: 2px solid #cdc5c5;
}

.user-comment-title {
  width: 100%;
  color: #5a320a;
  font-size: 130%;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
  border-top: 3px solid #5a320a;
  padding-bottom: 2px;
}

.comment-line {
  background: #fff;
  padding: 15px;
  border: 1px solid #aaa;
}

.post-comment-area {
  background: #FFFCDB;
  padding: 0px 15px 0px;
  border-radius: 12px;
}

.comment-area {
  background: #FFFCDB;
  padding: 15px 15px 3px;
  border-radius: 12px;
}

.cmment-content {
  margin-bottom: 0;
}

.cmment-name {
  margin-left: 460px;
  margin-bottom: 0;
  margin-top: 0;
}

.comment-time {
  text-align: right;
}

.comment-time-set {
  width: 50%;
  margin-left: 143px;
}

.comment-delete {
  float: right;
  margin-right: 15px;
}

.star-font {
  float: left;
  margin-left: 10px;
}

.page-area {
  background: #fff;
  padding: 15px 15px 1px;
  border-radius: 23px;
  margin-top: 12px;
}

/*=====================================
  rate
=====================================*/

.score-box {
  padding: 15px 0 15px 15px;
  background: #FFFCDB;
  margin-top: 20px;
  border-radius: 13px;
  margin-right: 130px;
}

.score-title {
  font-size: 120%;
  font-weight: bold;
  color: #5a320a;
}

.star-text {
  color: #5a320a;
  margin-left: 22px;
  font-size: 165%;
  font-weight: bold;
  padding: 0 15px 16px 17px;
}

#star {
  color: #5a320a;
  width: 37%;
  font-weight: bold;
  padding: 0 15px 18px 17px;
}

#star img {
  width: 15%;
  margin-bottom: 7px;
}

.rate-title {
  height: 30px;
　line-height: 30px;
}

.rate-star {
  width: 120%;
  height: 120%;
}

.average-box {
  display: flex;
  margin-top: 15px;
  margin-left: 18px;
}

.average-box img {
  width: 17%;
}

#star-rate-average {
  width: 65%;
  height: auto;
}

.average-font {
 font-size: 120%;
 font-weight: bold;
 color: #5a320a;
 margin-top: 1px;
}

.average-text {
  font-size: 106%;
  margin-top: 14px;
  margin-left: 15px;
  font-family: arial;
}