/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


/*=====================================
 リセット CSS
=====================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*=====================================
 共通
=====================================*/

main {
  background-color: #FFFCDB;
  min-height: calc(100vh - 7rem);
  padding-top: 5px;
}

.wrap {
  overflow: hidden;
}

/*=====================================
 header - footer
=====================================*/

header{

   width: 100%;
   background: linear-gradient(45deg, #d46c4f 0%, #d46c4f 30%, #9e4028 70%, #9e4028 100%);
}

.nav-item{
   padding: 10px 20px;
}

footer{
   margin-top: auto;
   background: linear-gradient(45deg, #d46c4f 0%, #d46c4f 30%, #9e4028 70%, #9e4028 100%);
}

/*=====================================
 user / mypage
=====================================*/

.main-title {
  text-align: left;
}

.page-title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #573929;
}

.box-item {
  font-size: 135%;
  padding-top: 10px;
  margin-top: 40px;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #573929;
}

.user-show {
  margin-top: 40px;
}

.picture {
  border-radius: 50%;
  margin-left: 50px;
}

/*=====================================
 user / show
=====================================*/

.info {
  background: #f6f4f2;
  padding: 15px;
  border: 1px solid #cdc5c5;
}

table {
  width: 100%;
  border: 1px solid #cdc5c5;
}

.t-head {
  padding: 10px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
}

.t-body {
  padding: 10px;
  background: white;
  border: 1px solid #cdc5c5;
}

/*=====================================
 user / edit
=====================================*/

.main-title {
  margin-bottom: 50px;
}

/*=====================================
 beer / new
=====================================*/

.new-img {
  height: 170px;
  width: 180px;
  object-fit: cover;
  margin-top: 10px;
}

.t-head2 {
  padding: 20px 15px 15px 15px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
}

.explanation {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

/*=====================================
 beer / index
=====================================*/

.list {
  background: #f6f4f2;
  padding: 15px;
  border: 1px solid #cdc5c5;
}

/*=====================================
 beer / show
=====================================*/

.details {
  margin-top: 30px;
  margin-bottom: 40px;
}

.details-box {
  padding: 20px 15px 15px 15px;
  background: #fff;
  border: 1px solid #cdc5c5;
  box-shadow: 0 10px 10px #666666;
}

.headline {
  font-size: 150%;
  font-weight: 800;
}

.favorite-btn {
  margin-left: auto;
  margin-right: 40px;
}

.red-btn {
  font-size: 140%;
  color: red;
}

.not-btn {
  font-size: 140%;

}

ul, li {
  list-style: none;
}

li {
  font-size: 15px;
  margin-right: 20px;
}

.line {
  display: flex;
}

.time {
  margin-left: auto;
}

.content-box {
  display: flex;
}

.image-box {
  width: 50%;
}

.image-picture {
  border-radius: 10px;
  border: 6px solid #fff;
  box-shadow: 0 0 1px;
}

.beer-text {
  margin-top: 10px;
  width: 50%;
  margin-left: 15px;
  margin-right: 10px;
}

.point {
  border: 1px solid #d2c8be;
  border-radius: 4px;
  padding: 10px;
  background: #FFFCDB;
  margin-bottom: 20px;
}

.point-title {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 1px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 80%;
  color: #5a320a;
}

.point-text {
  margin-bottom: 0;
}

.t-head2 {
  padding: 10px;
  background: #ffe4e5;
  border: 1px solid #cdc5c5;
  width: 35%;
}

.t-body2 {
  padding: 10px;
  background: white;
  border: 1px solid #cdc5c5;
  width: 60%;
}

.text-title {
  font-size: 140%;
  margin-left: 30px;
}

.text-box {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  border: 1px solid #d2c8be;
  background: #FFFCDB;
}